 @media (max-width: 600px) {
   .logo {
     height: 5px;
     margin-top: 10px;
     margin-left: 10px;
     visibility: hidden;
   }

   .colorPicker .twod, .colorPicker .twod .bg {
     width: 240px !important;
   }

   .colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
     width: 40px !important;
   }
 }

 @media (min-width: 600px) {
   .colorPicker .twod, .colorPicker .twod .bg {
     width: 330px !important;
   }

   .colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
     width: 45px !important;
   }

   .colorbar {
     height: 5px;
     background: black;
   }

   .logo {
     width: 50px;
     margin-top: 10px;
     margin-left: 10px;
     stroke-width: 5px;
     stroke: #a1a1a1;
   }
 }

 html {
   background-color: #1d1d1d;
 }

 .uactitle {
   padding: 5px;
   border: 5px;
   padding: 5px;
   border-bottom: 1px solid #323232;
 }

 input[name=selectui] {
   display: none;
 }

 input[name=selectui]+label {
   background: #000000;
   height: 30px;
   width: 30px;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=selectui]:hover+label {
   border: 1px solid gray;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=selectui]:checked+label {
   border: 1px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui] {
   display: none;
 }

 input[name=cselectui]+label {
   background: #000000;
   height: 30px;
   width: 30px;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui]:checked+label {
   border: 1px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui]:hover+label {
   border: 1px solid gray;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }
