:root {
  --bg-color: #1d1d1d;
  --sec-bg-color: #282828;
  --btn-color: #272727;
  --btn-hover-color: #353535;
  --btn-checked-color: #424242;

}

 @media (max-width: 600px) {
   /* .logo {
     height: 5px;
     margin-top: 10px;
     margin-left: 10px;
     visibility: hidden;
   } */

   .colorPicker .twod, .colorPicker .twod .bg {
     width: 240px !important;
   }

   .colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
     width: 40px !important;
   }
 }

 @media (min-width: 600px) {
   .colorPicker .twod, .colorPicker .twod .bg {
     width: 330px !important;
   }

   .colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
     width: 45px !important;
   }
 }

 .colorPicker {
  background-color: var(--sec-bg-color)  !important;
 }

 .secbgcolor {
  background-color: var(--sec-bg-color)  !important;
 }

 .bgcolor {
  background-color: var(--bg-color)  !important;
 }

 .pickrr {
   height: 300px;

 }
   .colorbar {
     height: 1px;
     background: black;
   }

   .logo {
     width: 45px;
     display: inline-block;
     stroke-width: 5px;
     stroke: #747474;

   }

   .logotext {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: #fdfdfd;
  }
  .seting {
    color: #fdfdfd;
    background-color: var(--sec-bg-color);
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    cursor: pointer;
  }

  .seting:hover {
    background-color: #2e2e2e;
  }

  .titlebar {
    background-color: var(--sec-bg-color);
  }

  .device {
    margin: 0px !important;
    margin-top: 5px !important;
    background-color: var(--sec-bg-color);
    height: 50px;
  }

  .ttl {
    display: inline-block;
    background-image: none;

  }
  .ttl::after {
    float: none;
  }
   .baklogo {
     background-color: var(--sec-bg-color);
     overflow: hidden;
     margin-left: 10px;
     padding: 5px;
     /* height: 50px; */
   }


   .baklogo:hover {
    background-color: #2e2e2e;
  }

  .noSelect {
    outline: none;
    -moz-outline-style: none;
}

 html {
   background-color: var(--bg-color); 
 }
 .uk-notification-message {
  background-color: var(--bg-color) !important;
}

 .uactitle {
   padding: 5px;
   border: 5px;
   padding: 5px;
   border-bottom: 1px solid #323232;
 }
 
 .uk-background-secondary {
   background: var(--sec-bg-color) !important;
 }

 .actionbtn {
  height: 55px;
  width: 55px;
  background: var(--btn-color);
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 14px;
  padding-left: 18px;
  margin-right: 10px;
 }

 .actionbtn:hover {
background: var(--btn-hover-color);
 }

 input[name=actionbtn]:checked+label {
  background: var(--btn-checked-color);
   }

   input[name=actionbtn] {
    display: none;
  }
 
 input[name=selectui] {
   display: none;
 }

 input[name=selectui]+label {
   background: #000000;
   height: 30px;
   width: 30px;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=selectui]:hover+label {
   border: 1px solid gray;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=selectui]:checked+label {
   border: 1px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui] {
   display: none;
 }

 input[name=cselectui]+label {
   background: #000000;
   height: 50px;
   width: 50px;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui]:checked+label {
   border: 1px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 input[name=cselectui]:hover+label {
   border: 1px solid gray;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   display: inline-block;
   padding: 0 0 0 0px;
 }

 
 input[name=devices] {
  display: none;
}

 input[name=devices]+label {
  background: var(--sec-bg-color);
  margin-left: 5%;
  width: 100px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}

input[name=devices]:checked+label {
  background: var(--bg-color);
  margin-left: 5%;
  width: 100px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding-top: 10px;
}

input[name=devices]:hover+label {
  background: var(--btn-hover-color);
  margin-left: 5%;
  width: 100px;
  height: 40px;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}

@media (hover: none) {
  a:hover { color: inherit; }
}