body {
  padding-top: 5rem;
  background-color: #1d1d1d !important;
  color: #cfcfcf;
}


.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
